body {
    
}

#slideshow {
    
    height:400px;
    
}
h3 {
    color:blueviolet;
    text-decoration:solid;
}

h4 {
    color:lightskyblue;
    margin: auto;
}

small.error {
  margin-top: -1rem;
  line-height: 0.5rem;
  padding: 0.5rem;
}

ImageButton {
  width:40%;
  height: 100px;
}


@keyframes slide{
    0% {
    left: 0;
  }
  25% {
    left: 25px;    
  }

    50% {
        left:50px;
    }
    75% {
        left: 25px;
    }
   100% {
    left: 0;
  }
}

.stage {
  background: #FFF;
  border-radius: 6px;
  height: 70px;
  position:static;
  min-width: 50%;
}

.stage:hover .leftButton {
  animation: slide 0.35s ease-in-out infinite alternate;
}


.leftButton {
 background: #2db34a;
  border-radius: 50%;

  height: 200px;
  position: absolute;
  width: 350px;
}

    

