<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="index.aspx"></forms>
    </authentication>
  </system.web>
  
     <system.webServer>
      <defaultDocument enabled="true">
        <files>
          <add value="index.aspx" />
        </files>
      </defaultDocument>
    </system.webServer>
    
  <connectionStrings>

    
    <!--   
    
    
    <add name="strConn" connectionString="Server=tcp:ak9z9u7auf.database.windows.net,1433;Database=200234918NorthWind;User ID=satish123@ak9z9u7auf;Password=Satish12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />

    <add name="strConn" connectionString="Server=ak9z9u7auf.database.windows.net;Database=200234918NorthWind;User ID=satish123@ak9z9u7auf;Password=Satish12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  
    
  
    <add name="GeorgianBookSaleEntities" connectionString="metadata=res://*/GeorgianBookSale.csdl|res://*/GeorgianBookSale.ssdl|res://*/GeorgianBookSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=GeorgianBookSale;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
      
    <add name="GeorgianBookSaleEntities" connectionString="metadata=res://*/GeorgianBookSale.csdl|res://*/GeorgianBookSale.ssdl|res://*/GeorgianBookSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=GeorgianBookSale;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      -->
    <add name="strConn" connectionString="Server=tcp:ak9z9u7auf.database.windows.net,1433;Database=GeorgianBookSale;User ID=satish123@ak9z9u7auf;Password=Satish12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add name="GeorgianBookSaleEntities" connectionString="metadata=res://*/GeorgianBookSale.csdl|res://*/GeorgianBookSale.ssdl|res://*/GeorgianBookSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:ak9z9u7auf.database.windows.net,1433;Database=GeorgianBookSale;User ID=satish123@ak9z9u7auf;Password=Satish12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
    <add name="BookSaleEntities" connectionString="metadata=res://*/GeorgianBookSale.csdl|res://*/GeorgianBookSale.ssdl|res://*/GeorgianBookSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ak9z9u7auf.database.windows.net,1433;initial catalog=GeorgianBookSale;integrated security=False;user id=satish123@ak9z9u7auf;password=Satish12;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>